<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="css/styles.css">

    <body>
        <div class="maincontent">
            {{>header}}
            <h1>About File {{name}} </h1>
            <img class="portrait" src="/img/images.jpg">
        </div>
        {{>footer}}
    </body>
</head>

</html>