<!DOCTYPE html>

<html>

<head>
<link rel="icon" href="/img/weather.png">
    <body>
        {{>header}}
        <h1>Help File</h1>
        <p>{{helptext}}</p>
        {{>footer}}
    </body>
</head>

</html>